@import url('@/public/general-sans.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.wrapper {
  padding-left: 150px;
  padding-right: 150px;
  max-width: 1440px;
  margin: 0 auto;
}

.font-general-sans-medium {
  font-family: GeneralSans-Medium;
}

.font-general-sans-semibold {
  font-family: GeneralSans-Semibold;
}

.font-general-sans-regular {
  font-family: GeneralSans-Regular;
}

* {
  font-family: GeneralSans-Regular;
}

.special-text {
  background: #FFFFFF;
  background: linear-gradient(to right, #FFFFFF 0%, rgba(255, 255, 255, 0.5) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}

.bg-gradient-card {
  background-image: linear-gradient(to right bottom, #9e33d7, #a841de, #b14fe6, #bb5ced, #c468f5, #bd65ec, #b663e3, #af60da, #974ebf, #803da4, #692c8a, #531b71);
}

.bg-gradient-card-learning {
  background-image: linear-gradient(to right bottom, #363636, #464646, #565656, #676767, #787878, #787878, #787878, #787878, #676767, #565656, #464646, #363636);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}